.cart-button {
  width: 80px;
  height: 80px;
  background-color: #ef3124;
  border-radius: 50%;
  position: fixed;
  top: 100px;
  right: 35px;
  box-shadow: 0px 0px 10px 1px #000000;
  transition: all 0.2s;
}

.cart-button:hover {
  box-shadow: 0px 0px 10px 5px #000000;
}

.cart-button__amount {
  color: #ffffff;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55px;
  left: 50px;
}

@media (max-width: 768px) {
  .cart-button {
    width: 60px;
    height: 60px;
    top: 770px;
    right: 25px;
  }

  .cart-button__amount {
    width: 24px;
    height: 24px;
    top: 40px;
    left: 40px;
  }
}