.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 30px;
  padding: 30px;
}

.error__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 2px solid #ef3124;
  border-radius: 25px;
  width: 500px;
}

.error__text {
  font-size: 30px;
  text-align: center;
}

.error__button {
  text-align: center;
  margin-top: 20px;
  font-family: inherit;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 5px;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}