.alfa-made {
  padding: 40px 10px 0;
}

.alfa-made__title {
  font-size: 110px;
  line-height: 1;
}

@media (max-width: 992px) {
  .alfa-made__text {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .alfa-made__title {
    font-size: 60px;
  }
}