.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: none;
  background-color: #ef3124;
  border-radius: 50%;
  position: fixed;
  top: 100px;
  right: 35px;
  cursor: pointer;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.1);
}

.amount {
  color: #ffffff;
  min-width: 30px;
  height: 30px;
  padding: 2px 5px;
  background-color: #000000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0.5s;
}

@media (max-width: 768px) {
  .button {
    width: 60px;
    height: 60px;
    top: 770px;
    right: 25px;
  }


  .amount {
    min-width: 24px;
    height: 24px;
    border-radius: 24px;
  }
}