.product {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 560px 460px;
  justify-content: center;
  gap: 40px;
}

.product__price {
  margin-top: 20px;
  font-weight: 700;
}

.product__description {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .product {
    grid-template-columns: 460px 360px;
  }
}

@media (max-width: 900px) {
  .product {
    grid-template-columns: minmax(auto, 600px);
    gap: 24px;
  }
}