.header {
  padding: 6px 30px 6px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.link {
  font-size: 32px;
  font-weight: 700;
  color: #ef3124;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (max-width: 360px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
}