.promo {
  display: block;
  background-color: #b6b4b4;
  min-height: 890px;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 20px;
  position: relative;
}

.promo::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s;
}

.promo:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo__title {
  margin: 15px 0 0 10px;
  font-size: 32px;
}

@media (max-width: 768px) {
  .promo {
    min-height: 600px;
  }
}