.list {
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list::before, .list::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #b8b8b8;
}

.list::before {
  top: 0;
}

.list::after {
  bottom: 0;
}

.product {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
  font-size: 16px;
  position: relative;
}

.product-body {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
}

.product-footer {
  display: grid;
  grid-template-columns: 80px 80px 1fr;
  gap: 20px;
}

.img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  background-color: #b8b8b8;
  border-radius: 5px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.options {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.option {
  font-size: 14px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 20px 40px 20px;
  align-items: center;
  justify-items: center;
}

.input {
  text-align: center;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0 5px;
  justify-self: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  font-size: 16px;
  font-family: inherit;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  display: none;
}

.minus-button, .plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b8b8b8;
  font-family: inherit;
  font-size: 16px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #b8b8b8;
  border-radius: 50%;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.remove-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
  background-color: transparent;
  color: #b8b8b8;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

@media (max-width: 600px) {
  .product-body {
    display: block;
  }

  .remove-button {
    justify-self: left;
  }
}

@media (max-width: 400px) {
  .remove-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .title {
    padding-right: 30px;
  }
}